@import url('https://fonts.googleapis.com/css?family=Work+Sans');
/* font-family: 'Work Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Muli');
/* font-family: 'Muli', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Mukta');
/* font-family: 'Mukta', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Hind');
/* font-family: 'Hind', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Heebo');
/* font-family: 'Heebo', sans-serif; */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20%;
}
.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17%;
}
.iconContainer {
    margin-top: 5px;
    margin-right: 3px;
    margin-left: 3px;
}
.myName {
    font-family: 'Avenir','Helvetica','Arial',sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin:0;
    padding: 0;
}
.myKoreanName {
    margin:0;
    padding: 0;
    color: gray;
    font-family: 'Avenir','Helvetica','Arial',sans-serif;
    font-size: 13px;
}
.myTitle {
    margin:0;
    padding: 0;
    font-size: 17px;
    font-family: 'Avenir','Helvetica','Arial',sans-serif;
}
.smallTextContainer {
    font-family: 'Avenir','Helvetica','Arial',sans-serif;
    font-size: 13px
}
svg {
    width:60%;
}