@import url('https://fonts.googleapis.com/css?family=Work+Sans');
/* font-family: 'Work Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Muli');
/* font-family: 'Muli', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Mukta');
/* font-family: 'Mukta', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Hind');
/* font-family: 'Hind', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Heebo');
/* font-family: 'Heebo', sans-serif; */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20%;
}
.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 1%;
}
.imageContainer2 {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.introContainer {
    justify-content: center;
    align-items: center;
    width: 40%;
    font-size: 13px;
    margin-top: 2%;
    font-family: 'Avenir','Helvetica','Arial',sans-serif;
}
.introContainerMobile {
    justify-content: center;
    align-items: center;
    width: 80%;
    font-size: 12px;
    margin-top: 4%;
    margin-bottom: 2%;
    font-family: 'Avenir','Helvetica','Arial',sans-serif;
}
.iconTopContainer {
    margin-top: 1%;
}
.iconContainer {
    margin-right: 3px;
    margin-left: 3px;
}
.myName {
    font-family: 'Avenir','Helvetica','Arial',sans-serif;
    font-size: 25px;
    font-weight: bold;
}
.myTitle {
    font-size: 17px;
    font-family: 'Avenir','Helvetica','Arial',sans-serif;
}
.smallTextContainer {
    font-family: 'Avenir','Helvetica','Arial',sans-serif;
    font-size: 13px
}
svg {
    width:60%;
}
.path {
    stroke-dasharray: 150;
    animation: dash 10s linear infinite;
}
.learningText{
    font-family: 'Avenir','Helvetica','Arial',sans-serif;
    font-size: 13px
}
.linkFont{
    color: rgb(78, 132, 233)
}

.bubble {
    display: flex;
    padding: 2px;
    justify-content: center;
    align-items: center;
	height: 30px;
	min-width: 120px;
    background: #34a8eb;
    color: white;
	margin: 0 auto;
	border-radius: 15px;
	margin-top: 50px;
    text-align: center;
    z-index: 2;
    font-family: 'Avenir','Helvetica','Arial',sans-serif;
    font-size: 15px;
}

.pointer {
	height: 20px;
    width: 20px;
    background: #34a8eb;
	margin: 0 auto;
	transform: rotate(45deg);
	border-radius: 0 0 2px 0;
	margin-top: -18px;
	position: relative;
    left: calc(0.5vw - 33px);
    z-index: -1;
}
.addHeight {
    height: 82px;
}

@keyframes dash {
    to {
      stroke-dashoffset: 1000;
    }
  }