@import url('https://fonts.googleapis.com/css?family=Work+Sans');
/* font-family: 'Work Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Muli');
/* font-family: 'Muli', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Mukta');
/* font-family: 'Mukta', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Hind');
/* font-family: 'Hind', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Heebo');
/* font-family: 'Heebo', sans-serif; */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20%;
}
.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17%;
}
.iconContainer {
    margin: 3px
}
.myName {
    justify-content: center;
    align-items: center;
    font-family: 'Avenir','Helvetica','Arial',sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 1%;
}
.myKoreanName {
    color: gray;
}
.myTitle {
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin:0;
    font-family: 'Hind', sans-serif;
}
svg {
    width:60%;
}