@import url('https://fonts.googleapis.com/css?family=Work+Sans');
/* font-family: 'Work Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Muli');
/* font-family: 'Muli', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Mukta');
/* font-family: 'Mukta', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Hind');
/* font-family: 'Hind', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Heebo');
/* font-family: 'Heebo', sans-serif; */

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5%;
}
.projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.contentContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.titleContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.imageContainer {
    flex: 3;
    flex-direction: column;
}
.instructionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.projectContents {
    flex: 9;
    margin-left: 2%;
    margin-top: 2%;
    flex-direction: column;
}
.project {
    display: flex;
    align-items: center;
    justify-content: center;
}
.title {
    color: #9B9898;
    font-family: 'Avenir','Helvetica','Arial',sans-serif;
}
.subtitle {
    color: gray;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Avenir','Helvetica','Arial',sans-serif;
}
.demo, .github {
    color: gray;
    font-size: 15px;
    font-family: 'Avenir','Helvetica','Arial',sans-serif;
}
.description, .takeAway, .technology {
    color: gray;
    font-size: 15px;
    font-family: 'Avenir','Helvetica','Arial',sans-serif;
}
.instruction {
    font-size: 12px;
    font-family: 'Avenir','Helvetica','Arial',sans-serif;
}
.video {
    margin: 5%;
}
.icon {
    margin-right: 3%;
}