@import url('https://fonts.googleapis.com/css?family=Work+Sans');
/* font-family: 'Work Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Muli');
/* font-family: 'Muli', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Mukta');
/* font-family: 'Mukta', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Hind');
/* font-family: 'Hind', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Heebo');
/* font-family: 'Heebo', sans-serif; */

.container{
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 15%;
    margin-bottom: 15%;
}
.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dateContainer {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}
.story {
    display: flex;
    align-items: center;
    justify-content: center;
}
.title {
    color: #9B9898;
    font-family: 'Avenir','Helvetica','Arial',sans-serif;
}
.description {
    color: gray;
    font-size: 15px;
    font-family: 'Avenir','Helvetica','Arial',sans-serif;
}
.descriptionMobile {
    color: gray;
    font-size: 13px;
    font-family: 'Avenir','Helvetica','Arial',sans-serif;
}
.instruction {
    font-size: 12px;
    font-family: 'Avenir','Helvetica','Arial',sans-serif;
}
.icon {
    margin-right: 3%;
}